body {
  font-size: 18px;
}

.sidebar {
  background: #0B1833;
  color: #fefefe;
}

.sidebar-toggle{
  background-color:transparent;
}

.sidebar li > p {
  border-bottom: 1px solid #fefefe;
}

.sidebar ul li a {
  color: #fefefe;
}

.sidebar .sidebar-nav {
  padding-right: 1em;
}

.sidebar:hover::-webkit-scrollbar {
  width: 10px;
}

.search {
  background-color: #189E99;
}

input[type="search"] {
  background-color: transparent;
  color: white;
}

input[type="search"]::placeholder {
  color: #fefefe;
}

.search .search-keyword {
  background: #ff0;
}

.search a:hover {
  color: inherit;
}

/*Link styling for external links*/
a[href^="https://www.outsystems.com"]::after {
  content: "";
  width: 1em;
  height: 1em;
  background-image: url(https://pbs.twimg.com/profile_images/807191843943419904/vNCtvRhP_400x400.jpg);
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  top: 0;
  background-size: 1em;
  display: inline-block;
  margin-left: .5em;
  vertical-align: middle;
}

